body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

/* widget */

.card__wrapper {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  max-width: 760px;
  width: 100%;
}

/* loader */

.card__preloader {
  text-align: center;
  padding: 70px 150px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 35px;
  display: flex;
  justify-content: center;
}

.card__span {
  display: inline-block;
  animation: bounce 1.5s infinite alternate;
  padding: 5px;
}

.card__span:nth-child(2) {
  animation-delay: 0.1s;
}

.card__span:nth-child(3) {
  animation-delay: 0.2s;
}

.card__span:nth-child(4) {
  animation-delay: 0.3s;
}

.card__span:nth-child(5) {
  animation-delay: 0.4s;
}

.card__span:nth-child(6) {
  animation-delay: 0.5s;
}

.card__span:nth-child(7) {
  animation-delay: 0.6s;
}

.card__span:nth-child(8) {
  animation-delay: 0.7s;
}

.card__span:nth-child(9) {
  animation-delay: 0.8s;
}

.card__span:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform:translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}

/* widget */

.card__widget {
  padding: 70px 50px 150px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 35px;
}

.card__form {
  display: flex;
  position: relative;
}

.card__search-input {
  font-size: 30px;
  font-weight: 400;
  padding: 17px;
  border-radius: 35px;
  max-width: 720px;
  width: 100%;
  background-color: rgba(88, 88, 88, 0.25);
  margin-bottom: 42px;
}

.card__search-input:focus {
  outline: 1px solid #ffffff;
}

.card__search-input:hover {
  background-color: rgba(88, 88, 88, 0.45);
}

.card__search-input:active {
  outline: 3px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.card__search-input::placeholder {
  color: #ffffff;
}

.card__search-submit {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 8px;
}

.card__search-submit:focus {
  outline: 3px solid rgba(51, 51, 51, 0.4);
}

.card__search-submit:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.card__search-submit:active {
  outline: 3px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.card__weather-in {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 19px;
}

.card__temperature {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 8px;
}

.card__weather-forecast {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.card__weather-description::first-letter {
  text-transform: uppercase;
}

.card__humidity {
  margin-bottom: 8px;
}

.card__access-denied {
  display: none;
  padding: 70px 50px 150px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 35px;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 90px;
}

@media (max-width: 998px) {
  .card__widget {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 768px) or (orientation: landscape) {

  .modal__request-text {
    font-size: 28px;
  }

  .modal__permission-text {
    font-size: 18px;
  }

  .card__widget {
    padding: 20px;
  }

  .card__search-input {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .card__search-submit {
    width: 50px;
    height: 50px;
    top: 5px;
  }

  .card__weather-in {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .card__temperature {
    font-size: 30px;
    margin-bottom: 0px;
  }
}